<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="filepath" value="C:\Users\Elena\Documents\Visual Studio 2017\Projects\NET.W.2017.Kinchikova.08\books.dat"/>
  </appSettings>
</configuration>